<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="//db.onlinewebfonts.com/c/f2ecc6ef740fcf60de095b0b087dd58d?family=OCR+A+Extended" rel="stylesheet" type="text/css"/>

</head>



<body>
  <table class="calculadora">
        
    <tr>
    <td colspan="4"><input type="number" value="" name="texbox" id="pantalla"></td>
    </tr>

    <tr>
        <td colspan="4"><input type="number" value="" name="texbox" id="pantalla2"></td>
        </tr>

     <tr>
         <td><button class="botopera" onclick="porcentaje()" id="porcentaje">%</button></td>
         <td><button class="botopera" onclick="ce()" id="botonce">CE</button></td>
         <td><button class="botopera" onclick="c()" id="botonc">C</button></td>
         <td><button class="botopera" onclick="borrar()" id="borrar">⌫</button></td>
     </tr>
     <tr>
         <td><button class="botonum" onclick="uno()" id="uno">1</button></td>
         <td><button class="botonum" onclick="dos()" id="dos">2</button></td>
         <td><button class="botonum" onclick="tres()" id="tres">3</button></td>
         <td><button class="botopera" onclick="dividir()" id="dividir">/</button></td>
     </tr>

     <tr>
         <td><button class="botonum" onclick="cuatro()" id="cuatro">4</button></td>
         <td><button class="botonum" onclick="cinco()" id="cinco">5</button></td>
         <td><button class="botonum" onclick="seis()" id="seis">6</button></td>
         <td><button class="botopera" onclick="resta()" id="resta">-</button></td>
     </tr>
     <tr>
         <td><button class="botonum" onclick="siete()"id="siete">7</button></td>
         <td><button class="botonum" onclick="ocho()"id="ocho">8</button></td>
         <td><button class="botonum" onclick="nueve()"id="nueve">9</button></td>
         <td><button class="botopera" onclick="suma()" id="suma">+</button></td>
     </tr>
     <tr>
         <td><button class="botopera" onclick="punto()" id="punto">.</button></td>
         <td><button class="botonum" onclick="cero()" id="cero">0</button></td>
         <td><button class="botopera" onclick="multiplicar()" id="multiplicar">x</button></td>
         <td colspan="2"><button class="botoigual" onclick="igual()" id="igual">=</button></td>
     </tr>
     

     
 </table>
</body>
</html>